BasedOnStyle: Google
AccessModifierOffset: '-2'
AlignAfterOpenBracket: Align
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: 'false'
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
RequiresClausePosition: 'OwnLine'
IndentRequiresClause: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Attach
BreakConstructorInitializers: 'BeforeComma'
ColumnLimit: '200'
CompactNamespaces: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentWidth: '4'
TabWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
SortIncludes: 'true'
SortUsingDeclarations: 'true'
DerivePointerAlignment: false
PointerAlignment: Left
